---
import BaseLayout from "../layouts/BaseLayout.astro";
import aboutKosta from "../data/about.json";
---

<BaseLayout title="About">
    <div class="px-6 pb-12 my-4 sm:px-12 lg:px-16 xl:px-24 max-w-screen-lg mx-auto">
		{
			aboutKosta.map((item) => (
			<div class="py-4">
				<h2 class="text-xl font-bold">{item.title}</h2>
				<p class="text-md text-[#222939]">{item.description}</p>
			</div>
			))
		}
	</div>
</BaseLayout>