---
import SocialLinks from './SocialLinks.astro';
---

<div class="text-center py-10 bg-white inset-shadow-sm">
    <footer>
        © 2025 Viktor Erlandsson. All rights reserved.
        <div class="flex flex-row justify-center mt-4 text-[#60739f]">
             <SocialLinks />
        </div>
    </footer>
</div>