---
const currentPath = Astro.url.pathname;
import SocialLinks from './SocialLinks.astro';
---

<div class="flex flex-col sm:flex-row justify-between items-center bg-white shadow-sm">
    <h2 class="py-2 sm:pt-0 font-bold text-2xl md:pl-8">Kosta</h2>
    <div class="flex text-lg space-x-4">
        <a href="/kosta/" class={`sm:p-4 ${currentPath === '/kosta/' ? 'border-b-4 border-sky-500 font-bold transition-colors duration-300 ease' : ''}`}>Home</a>
        <a href="about/" class={`sm:p-4 ${currentPath === '/kosta/about/' ? 'border-b-4 border-sky-500 font-bold transition-colors duration-300 ease-in-out' : ''}`}>About</a>
    </div>
    
    <div class="text-black text-xs pr-8">
        <SocialLinks />
    </div>
</div>
